@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Prata&family=Satisfy&display=swap');

$headingFont: 'Satisfy', cursive;
$primaryFont: 'Dongle', sans-serif;
$secondaryFont: 'Prata', serif;

$color1: #7D6C61;
$color2: #5A8584;
$color3: #B8D1D1;
$colorText: #524B48;
$colorBack: #D0C0B7;
$white: #FFFCFA;

html {
  overflow: hidden;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  font-family: $primaryFont;
  color: $colorText;

}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $colorText;
  &:visited {
    color: $colorText;
  }
}
h1 {
font-family: $headingFont;
}
h2 {

}
